<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompanEra - It`s when you`re looking for a company.</title>

    <link rel="icon" href="img/logotype.png">
    <link rel="stylesheet" href="styles/default-styles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>

<div class="default-view" style="max-width:1400px">

    <header class="center-position">

        <div class="logo-container">
            <img class="logo" src="img/logotype.png" alt="CompanEra Logotype" width="50px" height="50px">
            <h1 style="font-size: 40px">
                <b>CompanEra</b>
            </h1>
        </div>

        <a class="little-text">It`s when you`re looking for a company.</a>
    </header>

</div>

</body>
</html>