<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompanEra - It`s when you`re looking for a company.</title>

    <link rel="icon" href="img/logotype.png">
    <link rel="stylesheet" href="styles/default-styles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>

    <div class="default-view" style="max-width:1400px">

        <header class="center-position">

            <div class="logo-container">
                <img class="logo" src="img/logotype.png" alt="CompanEra Logotype" width="50px" height="50px">
                <h1 style="font-size: 40px">
                    <b>CompanEra</b>
                </h1>
            </div>

            <a class="little-text">It`s when you`re looking for a company.</a>
        </header>

        <div class="content-container">

            <div class="right-wall-elements">

                <div class="wall-card">
                    <div class="container center-position">
                        <img src="img/sing-up-logo.png" height="60" width="60" style="margin-top: 15px" alt="Users logotype">
                        <h3>
                            <b>Join Us!</b>
                        </h3>

                        <h5>After sing up you`ll get access to all features.</h5>

                    </div>

                    <div class="container">

                        <label>
                            <input id="emailInput" type="text" placeholder="Email" class="input-decoration" style="width: 88%">
                            <h7 id="informationText" class="error-message">Something went wrong :/</h7>
                        </label>

                        <div class="content-container">
                            <div class="left-side-wall-element">
                                <p>
                                    <button id="getLinkButton" onclick="getInvitationButtonClick()" class="button-decoration" style="margin-top: 5px">
                                        <b>Get an invitation</b>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="wall-card">

                    <div class="container" style="background-color: #f1f1f1">
                        <h4 style="font-size: 20px">Popular categories</h4>
                    </div>

                    <ul class="list-decoration" id="popularCatList">

                    </ul>

                </div>

            </div>

            <div class="left-side-wall-element">

                <div class="wall-card">
                    <img src="img/board-games-img.png" alt="Board games" style="width:100%">

                    <div class="container">
                        <h3>
                            <b>BOARD GAMES</b>
                        </h3>

                        <h5>It`s pretty easy using CompanEra found someone to play board games.</h5>
                    </div>

                    <div class="container">
                        <p>
                            If your students are like mine, they potentially spend hours playing digital and online games!
                            For example, Fortnite, Minecraft, Just Dance, and Pokemon Go. With so many video gaming choices,
                            kids everywhere are gaming on screens. Whether it’s  at home, on the go, and sometimes even at school!
                            I decided to use my students’ strong love for games as motivation for a fun and engaging opinion writing
                            assignment.
                        </p>

                        <div class="content-container">
                            <div class="left-side-wall-element">
                                <p>
                                    <button class="button-decoration">
                                        <b>FIND COMPANION »</b>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="wall-card">
                        <img src="img/video-games-img.png" alt="Video games" style="width:100%">

                        <div class="container">
                            <h3>
                                <b>VIDEO GAMES</b>
                            </h3>

                            <h5>It`s pretty easy using CompanEra found someone to play video games.</h5>
                        </div>

                        <div class="container">
                            <p>
                                If your students are like mine, they potentially spend hours playing digital and online games!
                                For example, Fortnite, Minecraft, Just Dance, and Pokemon Go. With so many video gaming choices,
                                kids everywhere are gaming on screens. Whether it’s  at home, on the go, and sometimes even at school!
                                I decided to use my students’ strong love for games as motivation for a fun and engaging opinion writing
                                assignment.
                            </p>

                            <div class="content-container">
                                <div class="left-side-wall-element">
                                    <p>
                                        <button class="button-decoration">
                                            <b>FIND COMPANION »</b>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

</body>

<script src="script/start-page-script.js">
</script>

</html>