body {
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
}

header {
    margin-bottom: 50px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}

.default-view {
    margin-left: auto;
    margin-right: auto;
}

.center-position {
    text-align: center;
}

.sub-text {
    font-size: 10px;
}

.logo {
    margin-right: 15px;
}

.logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.little-text {
    font-size: 15px;
}

.content-container {
    content: "";
    display: table;
    clear: both;
}

.keeper {
    width: 66.66666%;
    float: left;
}

.left-side-wall-element {
    width: 66.66666%;
    float: left;
}

.right {
    width: 33.33333%;
    float: left;
}


.wall-card {
    margin: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    color: #000;
    background-color: #fff;
}

h3 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

.container {
    padding: 0.01em 16px;
}

.input-decoration {
    cursor: pointer;
    padding: 12px 24px !important;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    font: inherit;
    margin: 0;
    font-size: 20px;
}

.button-decoration {
    padding: 12px 24px !important;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font: inherit;
    margin: 0;
}

.span-wrapper {
    padding: 12px 24px !important;
    float: right !important;
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.right-wall-elements {
    width: 33.33333%;
    float: left;
}

@media(max-width: 1200px) {
    .left-side-wall-element {
        width: 100%;
    }

    .right-wall-elements {
        width: 100%;
    }
}

.button-decoration:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.error-message {
    font-size: 13px;
    color: #d54b4b;
    visibility: hidden;
    position: absolute;
}

.list-decoration {
    color: #000 !important;
    background-color: #fff !important;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.padding-16 {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    box-sizing: inherit;
    cursor: pointer;
}

.large {
    font-size: 18px !important;
}

.image-position {
    float: left !important;
    margin-right: 16px !important;
    border-style: none;
}

.padding-16:hover {
    color: #000 !important;
    background-color: #ccc !important;
}